* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: #FBFBFB;
    padding: 0 30px;
}

#section-1{
    width: 100%;
    height: 100%;
    font-family:  Helvetica
    
}

nav{
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header i{
    font-size: 28px;
}

.header h1{
    font-size: 30px;
}

.links{
    display: flex;
    gap: 10px;
    width: 60%;
    justify-content: center;
}

.links a{
    text-decoration: none;
    color: black;
    font-size: 15px;
   
    font-weight: 500;
}

.btn{
    display: flex;
    gap: 10px;
}

.btn button{
    padding: 10px 25px;
    border: none;
    border-radius: 20px;

}

.btn button:nth-child(2){
    background-color: black;
    color: white;
}

.hero-div{
    width: 100%;
    height: calc(100% - 60px);
    background-color: rgb(227, 223, 223);
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    padding: 5px 10px;
}

.hero-div .left{
    width: 50%;
    height: 100%;
    background-color: crimson;
}

.left .rating{
    padding: 10px 30px;
    display: flex;
    background-color: white;
    width: fit-content;
    border-radius: 50px;
    gap: 10px;
    align-items: center;
}

.rating i{
    font-size: 25px;
}
.rating-text h3{
    font-size: 16px;
}
.rating-text span{
    font-size: 14px;
    opacity: 0.8;
}
.left .logo img{
    height: 60px;
}

.hero-div .right{
    width: 50%;
    height: 100%;
    background-color: salmon;
}

